.user-contact {
  cursor: pointer !important;
}

.user-contact:hover {
  background-color: rgba(0, 0, 0, .15);
}

.bottomBox {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  z-index: 4 !important;
  height: calc(100% - 70px) !important;
  width: 300px;
  bottom: 0;
  right: 0;
  margin: 0;
}

.notifications-list {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  word-wrap: break-word;
  padding-left: 2px;
}

.notification {
  padding: 5px;
  color: $black;
  border-bottom: 1px solid $gray;
}

.notification-time {
  display: block;
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
}

.notification-message {
  font-size: 15px;
  margin-top: 0;
}